:root {
  --black-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --white-color: rgb(255, 255, 255);
  --gray-color: rgb(170, 170, 170);
  --light-red-color: rgb(221, 167, 167);
  --background-site-color: #dddddd;
}

button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-site-color);
}

.app {
  background-color: var(--gray-color);
  max-width: 500px;
  max-height: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.display {
  width: 100%;
  height: 100px;
  max-height: 100px;
  background-color: var(--white-color);
  border-radius: 20px;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.buttons {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.keypads {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;
}

.left-numbers {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-auto-rows: 80px;
  gap: 8px;
}

.right-sym {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-auto-rows: 80px;
  gap: 8px;
}

.number,
.sym {
  list-style: none;
  width: 100%;
  height: 100%;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: var(--black-box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
}

.equals {
  list-style: none;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: var(--black-box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 168px;
  border: none;
}

.number:hover,
.sym:hover,
.equals:hover {
  transform: scale(1.02);
}

.number:active,
.sym:active,
.equals:active {
  transform: scale(0.98);
}

.other-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-top: 60px;
}

.back-btn,
.clear-btn {
  width: 17%;
  height: 50px;
  max-height: 50px;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: var(--black-box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
}

.clear-btn.click {
  animation: clickAnimation 0.2s ease;
}

@keyframes clickAnimation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.back-btn.click {
  animation: clickAnimationForBackArrow 0.1s ease;
}

@keyframes clickAnimationForBackArrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.back-btn:hover,
.clear-btn:hover {
  transform: scale(1.02);
}

.clear-btn {
  background-color: var(--light-red-color);
}

.back-btn:active,
.clear-btn:active {
  transform: scale(0.98);
}

.arrow {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}

.history-block {
  background-color: var(--white-color);
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 30px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease,
    opacity 0.3s ease, visibility 0.3s ease, overflow 0.3s ease;
  position: relative;
}

.clear-history-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: var(--light-red-color);
  transition: font-size 0.2s ease;
}

.clear-history-btn:active {
  font-size: 18px;
}

.history-block.active {
  width: 400px;
  max-width: 400px;
  height: 200px;
  max-height: 200px;
  opacity: 1;
  visibility: visible;
  overflow: auto;
}

.history-block::-webkit-scrollbar-track {
  background: var(--white-color);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.history-block::-webkit-scrollbar {
  width: 8px;
}

.history-block::-webkit-scrollbar-thumb {
  background-color: var(--gray-color);
  border-radius: 10px;
  border: 2px solid transparent;
}

.history {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.open-history {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(0);
  margin-left: 5px;
}

.open-history.active {
  transform: rotate(180deg);
}

@media (max-width: 420px) {
  body {
    background: var(--gray-color);
    overflow: hidden;
  }

  .app {
    display: flex;
    max-width: 375px;
    max-height: 700px;
    flex-direction: column;
    align-items: center;
    background: none;
    gap: 30px;
    margin-top: -25vh;
  }

  .display {
    font-size: 50px;
    width: 85%;
    height: 120px;
    max-height: 120px;
    border-radius: 20px;
    margin-bottom: -10vh;
  }

  .keypads {
    gap: 10px;
  }

  .left-numbers {
    grid-template-columns: repeat(3, 65px);
    grid-auto-rows: 65px;
    gap: 6px;
  }

  .right-sym {
    grid-template-columns: repeat(2, 65px);
    grid-auto-rows: 65px;
    gap: 6px;
  }

  .number,
  .sym {
    width: 85%;
    height: 85%;
    border: none;
    margin-left: 3px;
  }

  .equals {
    width: 126px;
    margin-left: 3px;
  }

  .other-btns {
    width: 100%;
  }

  .back-btn,
  .clear-btn {
    width: 8vh;
  }

  .open-history {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
    margin-left: 5px;
    margin-right: 2vh;
  }

  .open-history.active {
    transform: rotate(-90deg);
  }

  .history {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 2vh;
    top: 75vh;
  }

  .history-block {
    margin-right: 2vh;
  }

  .history-block.active {
    width: 350px;
    height: 150px;
    max-height: 200px;
    opacity: 1;
    visibility: visible;
    overflow: auto;
  }

  .buttons {
    margin-left: 5px;
  }
}
